<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <title>Admin Page</title>
</head>

<body>
<div class="container">
    <h3 class="font-weight-bold">Welcome to The Admin User Interface</h3>
    <hr>

    <!-- Add "Register New Admin" button -->
    <a th:href="@{/users/showAdminRegistrationForm}"
       class="btn btn-primary btn-sm mb-3">
        Register New Admin
    </a>

    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Address</th>
            <th>View User</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="tempUser : ${users}">
            <td th:text="${tempUser.firstName}"/>
            <td th:text="${tempUser.lastName}"/>
            <td th:text="${tempUser.email}"/>
            <td th:text="${tempUser.phoneNumber}"/>
            <td th:text="${tempUser.address}"/>

            <!-- Add "View User" button -->
            <td>
                <a th:href="@{/users/showUserDetailsForm(userId=${tempUser.id})}"
                   class="btn btn-info btn-sm">
                    View User
                </a>
            </td>

        </tr>
        </tbody>

    </table>

</div>
</body>
</html>